venv/
venv_old/
__pycache__/
*.pyc
.pytest_cache/
.vscode/
.DS_Store
instance/
credentials.json
token.json
.env
.env.local
emails.db
*.sqlite3
.coverage
/.venv
/.idea
dist/
build/
pip-wheel-metadata/
.mypy_cache/